#########################################################################
# Title:         Community: RadarrX | Suitarr Migration Tasks           #
# Author(s):     desimaniac                                             #
# URL:           https://github.com/Cloudbox/Community                  #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: Suitarr Migration | Check folder exists
  stat:
    path: "/opt/radarr{{ rolename }}"
  register: folder

- name: Suitarr Migration | Check subfolder1 exists
  stat:
    path: "/opt/radarr{{ rolename }}/Radarr"
  register: subfolder1

- name: Suitarr Migration | Check subfolder2 exists
  stat:
    path: "/opt/radarr{{ rolename }}/app"
  register: subfolder2

- name: Suitarr Migration | Move 'radarr' folder contents to 'app' subfolder
  shell: |
    mv "/opt/radarr{{ rolename }}" /tmp/app
    mkdir "/opt/radarr{{ rolename }}"
    mv /tmp/app "/opt/radarr{{ rolename }}/"
    find "/opt/radarr{{ rolename }}/*" -type d -empty -delete
    chown -R {{ user.name }}:{{ user.name }} "/opt/radarr{{ rolename }}"
  when: (folder.stat.exists) and not (subfolder1.stat.exists or subfolder2.stat.exists)

- name: Suitarr Migration | Move 'radarr{{ rolename }}' subfolder to 'app' subfolder
  shell: |
    mv "/opt/radarr{{ rolename }}/radarr" "/opt/radarr{{ rolename }}/app"
    chown -R {{ user.name }}:{{ user.name }} "/opt/radarr{{ rolename }}"
  when: (folder.stat.exists) and (subfolder1.stat.exists) and (not subfolder2.stat.exists)
