{
    "settings": {
        "rfconfig": "15000",
        "rftime": "60000",
        "rflog": "30000",
        "maxLines": "2000",
        "customHighlightTerms": "error",
        "logRefresh": "true",
        "autoHighlight": "true",
        "jumpOnSearch": "false",
        "liveSearch": "false"
    },
    "preferences": {
        "sitetitle": "CloudBox",
        "siteurl": "https:\/\/logarr.{{ user.domain }}",
        "updateBranch": "alpha",
        "timezone": "Etc\/GMT",
        "timestandard": "False",
        "language": "EN"
    },
    "authentication": {
        "setupEnabled": "true",
        "settingsEnabled": "true",
        "logsEnabled": "true"
    },
    "logs": [
        {
            "logTitle": "Plex_Autoscan",
            "path": "\/opt\/plex_autoscan\/plex_autoscan.log",
            "enabled": "Yes",
            "category": "Apps"
        },
        {
            "logTitle": "CloudPlow",
            "path": "\/opt\/cloudplow\/cloudplow.log",
            "enabled": "Yes",
            "category": "Apps"
        },
        {
            "logTitle": "Sonarr",
            "path": "\/opt\/sonarr\/logs\/sonarr.txt",
            "enabled": "Yes",
            "category": "Apps"
        },
        {
            "logTitle": "Radarr",
            "path": "\/opt\/radarr\/logs\/radarr.txt",
            "enabled": "Yes",
            "category": "Apps"
        },
        {
            "logTitle": "PMS",
            "path": "\/opt\/plex\/Library\/Application Support\/Plex Media Server\/Logs\/Plex Media Server.log",
            "enabled": "Yes",
            "category": "Apps"
        },
        {
            "logTitle": "Plex Scanner",
            "path": "\/opt\/plex\/Library\/Application Support\/Plex Media Server\/Logs\/Plex Media Scanner Analysis.log",
            "enabled": "Yes",
            "category": "Apps"
        },
        {
            "logTitle": "NZBGet",
            "path": "\/mnt\/local\/downloads\/nzbs\/nzbget\/*.log",
            "enabled": "Yes",
            "category": "Apps"
        },
        {
            "logTitle": "NZBHydra",
            "path": "\/opt\/nzbhydra2\/logs\/nzbhydra2.log",
            "enabled": "Yes",
            "category": "Apps"
        }
    ]
}
