[Unit]
Description=A Secure Tunnel Based On KCP with N:M Multiplexing
After=network.target

[Service]
Type=simple
ExecStart=/opt/kcptun-server/bin/server_linux_amd64 -c /opt/kcptun-server/config/config.json

[Install]
WantedBy=multi-user.target
