#########################################################################
# Title:            Community: Deluge                                   #
# Author(s):        fuller882, Kalroth, Migz93                          #
# URL:              https://github.com/Cloudbox/Community               #
# Docker Image(s):  linuxserver/deluge                                  #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: "Setting CloudFlare DNS Record"
  include_role:
    name: cloudflare-dns
  vars:
    record: deluge
  when: cloudflare_enabled

- name: Stop and remove any existing container
  docker_container:
    name: deluge
    state: absent

- name: Create deluge directories
  file: "path={{ item }} state=directory mode=0775 owner={{ user.name }} group={{ user.name }}"
  with_items:
    - /opt/deluge

- name: Create new downloads directories
  file: "path={{ item }} state=directory mode=0775 owner={{ user.name }} group={{ user.name }} recurse=yes"
  with_items:
    - "{{ downloads.torrents }}"
    - "{{ downloads.torrents }}/deluge"
    - "{{ downloads.torrents }}/deluge/completed"
    - "{{ downloads.torrents }}/deluge/incoming"
    - "{{ downloads.torrents }}/deluge/watched"

- name: Set default_volumes variable
  set_fact:
    default_volumes:
      - "/opt/deluge:/config"
      - "/opt/scripts:/scripts"
      - "/mnt:/mnt"

- name: Set 'deluge_docker_image' variable
  set_fact:
    deluge_docker_image: "{{ (deluge.version | lower == 'v2') | ternary('linuxserver/deluge:latest','linuxserver/deluge:5b398f77-ls22') }}"

- name: Create and start container
  docker_container:
    name: deluge
    image: "{{ deluge_docker_image }}"
    pull: yes
    published_ports:
      - "58112:58112"
      - "58846:58846"
    env:
      TZ: "{{ tz }}"
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
      VIRTUAL_HOST: "deluge.{{ user.domain }}"
      VIRTUAL_PORT: "8112"
      LETSENCRYPT_HOST: "deluge.{{ user.domain }}"
      LETSENCRYPT_EMAIL: "{{ user.email }}"
      UMASK_SET: "022"
    volumes: "{{ default_volumes + torrents_downloads_path|default([]) }}"
    labels:
      "com.github.cloudbox.cloudbox_managed": "true"
    networks:
      - name: cloudbox
        aliases:
          - deluge
    purge_networks: yes
    restart_policy: unless-stopped
    state: started
