{
    "target": "127.0.0.1:443",
    "listen": "0.0.0.0:29990",
    "mode": "fast",
    "crypt": "aes",
    "key": "my_default_password",
    "dscp": 0,
    "parityshard": 3,
    "datashard": 10,
    "mtu": 1400,
    "nocomp": false,
    "rcvwnd": 1024,
    "sndwnd": 1024,
    "nodelay": 0,
    "acknodelay": true,
    "interval": 50,
    "resend": 0,
    "nc": 0,
    "keepalive": 10,
    "sockbuf": 4194304,
    "smuxbuf": 4194304,
    "snmpperiod": 60,
    "pprof": false,
    "quiet": false
}
