{
    "target": "127.0.0.1:443",
    "listen": "0.0.0.0:29990",
    "mode": "fast3",
    "crypt": "aes-128",
    "key": "my_default_password",
    "dscp": 46,
    "parityshard": 2,
    "datashard": 80,
    "mtu": 1400,
    "nocomp": true,
    "nodelay": 0,
    "acknodelay": true,
    "interval": 50,
    "resend": 0,
    "nc": 0,
    "keepalive": 10,
    "sockbuf": 268435500,
    "smuxbuf": 268435500,
    "snmpperiod": 60,
    "pprof": false,
    "conn": 4,
    "autoexpire": 0,
    "sndwnd": 8192,
    "rcvwnd": 16384
}
