- name: "Install named radarr role"
  debug:
    msg: "Installing {{ rolename }} using port {{ roleport }}"

- name: "Set DNS Record on CloudFlare"
  include_role:
    name: cloudflare
  vars:
    subdomain: "radarr{{ rolename }}"
  when: cloudflare_enabled

- name: Stop and remove any existing container
  docker_container:
    name: "radarr{{ rolename }}"
    state: absent
    
- name: Suitarr Migration Tasks
  import_tasks: "subtasks/suitarr_migration.yml"

- name: Create radarrx directories
  file: "path={{ item }} state=directory mode=0775 owner={{ user.name }} group={{ user.name }}"
  with_items:
    - "/opt/radarr{{ rolename }}"
    
- name: Darkerr Tasks
  import_tasks: "subtasks/darkerr.yml"

- name: Set 'suitarr_image' variable
  set_fact:
    suitarr_image: "{{ (sickbeard_mp4_automator | default(false,true)) | ternary('andrewkhunn/radarr','hotio/radarr') }}"

- name: "Check if '/dev/dri' exists"
  stat:
    path: "/dev/dri"
  register: dev_dri

- name: Set default_volumes variable
  set_fact:
    default_volumes:
      - "/opt/radarr{{ rolename }}:/config"
      - "/opt/scripts:/scripts"
      - "/mnt:/mnt"
      - "/mnt/unionfs/Media/Movies:/movies"

- name: Create and start container
  docker_container:
    name: "radarr{{ rolename }}"
    image: "{{ suitarr_image }}"
    pull: yes
    published_ports:
      - "127.0.0.1:{{ roleport }}:7878"
    env:
      VERSION: "{{ suitarr.version }}"
      BACKUP: "no"
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
      VIRTUAL_HOST: "radarr{{ rolename }}.{{ user.domain }}"
      VIRTUAL_PORT: 7878
      LETSENCRYPT_HOST: "radarr{{ rolename }}.{{ user.domain }}"
      LETSENCRYPT_EMAIL: "{{ user.email }}"
      TZ: "{{ tz }}"
    volumes: "{{ default_volumes + nzbs_downloads_path|default([]) + torrents_downloads_path|default([]) }}"
    devices: "{{ '/dev/dri:/dev/dri' if (gpu.intel and sickbeard_mp4_automator and dev_dri.stat.exists) | default(false) else omit }}"
    labels:
      "com.github.cloudbox.cloudbox_managed": "true"
    networks:
      - name: cloudbox
        aliases:
          - "radarr{{ rolename }}"
    purge_networks: yes
    restart_policy: unless-stopped
    state: started
