#########################################################################
# Title:            Community: RadarrX | Template                       #
# Author(s):        Superduper09, Migz93                                #
# URL:              https://github.com/Cloudbox/Community               #
# Docker Image(s):  hotio/radarr                                        #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: "Install named radarr role"
  debug:
    msg: "Installing {{ rolename }}"

- name: "Set DNS Record on CloudFlare"
  include_role:
    name: cloudflare-dns
  vars:
    record: "radarr{{ rolename }}"
  when: cloudflare_enabled

- name: Suitarr Migration Tasks
  import_tasks: "subtasks/suitarr_migration.yml"

- name: Create radarrx directories
  file: "path={{ item }} state=directory mode=0775 owner={{ user.name }} group={{ user.name }}"
  with_items:
    - "/opt/radarr{{ rolename }}"

- name: Darkerr Tasks
  import_tasks: "subtasks/darkerr.yml"

- name: "Check if '/dev/dri' exists"
  stat:
    path: "/dev/dri"
  register: dev_dri

- name: Set default_volumes variable
  set_fact:
    default_volumes:
      - "/opt/radarr{{ rolename }}:/config"
      - "/opt/scripts:/scripts"
      - "/mnt:/mnt"
      - "/mnt/unionfs/Media/Movies:/movies"

- name: Create and start container
  docker_container:
    name: "radarr{{ rolename }}"
    image: "hotio/radarr:nightly"
    pull: yes
    env:
      TZ: "{{ tz }}"
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
      VIRTUAL_HOST: "radarr{{ rolename }}.{{ user.domain }}"
      VIRTUAL_PORT: "7878"
      LETSENCRYPT_HOST: "radarr{{ rolename }}.{{ user.domain }}"
      LETSENCRYPT_EMAIL: "{{ user.email }}"
    volumes: "{{ default_volumes + nzbs_downloads_path|default([]) + torrents_downloads_path|default([]) }}"
    devices: "{{ '/dev/dri:/dev/dri' if (gpu.intel and dev_dri.stat.exists) | default(false) else omit }}"
    labels:
      "com.github.cloudbox.cloudbox_managed": "true"
      "com.github.cloudbox.community": "radarrx"
    networks:
      - name: cloudbox
        aliases:
          - "radarr{{ rolename }}"
    purge_networks: yes
    restart_policy: unless-stopped
    state: started
