#########################################################################
# Title:            Community: Jellyfin                                 #
# Author(s):        maximuskowalski                                     #
# URL:              https://github.com/Cloudbox/Community               #
# Docker Image(s):  jellyfin/jellyfin                                   #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: "Set DNS Record on CloudFlare"
  include_role:
    name: cloudflare-dns
  vars:
    record: jellyfin
  when: cloudflare_enabled

- name: Stop and remove any existing container
  docker_container:
    name: jellyfin
    state: absent

- name: Create jellyfin directories
  file: "path={{ item }} state=directory mode=0775 owner={{ user.name }} group={{ user.name }}"
  with_items:
    - /opt/jellyfin
    - /opt/jellyfin/config
    - /opt/jellyfin/config/users
    - /opt/jellyfin/cache
    - "{{ plex.transcodes }}/5"
    - "{{ plex.transcodes }}/6"

- name: Import dlna config
  copy:
    src: "dlna.xml"
    dest: "/opt/jellyfin/config/dlna.xml"
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: 0775
    force: no

- name: "Check if 'system.xml' exists"
  stat:
    path: "/opt/jellyfin/config/system.xml"
  register: jellyfin_system_xml

- name: "Check if '/dev/dri' exists"
  stat:
    path: "/dev/dri"
  register: dev_dri

- name: Create and start container
  docker_container:
    name: jellyfin
    image: "jellyfin/jellyfin:latest"
    pull: yes
    user: "{{ uid }}:{{ gid }}"
    env:
      TZ: "{{ tz }}"
      VIRTUAL_HOST: "jellyfin.{{ user.domain }}"
      VIRTUAL_PORT: 8096
      LETSENCRYPT_HOST: "jellyfin.{{ user.domain }}"
      LETSENCRYPT_EMAIL: "{{ user.email }}"
      NVIDIA_DRIVER_CAPABILITIES: "{{ 'compute,video,utility' if gpu.nvidia | default(false) else omit }}"
      NVIDIA_VISIBLE_DEVICES: "{{ 'all' if gpu.nvidia | default(false) else omit }}"
    volumes:
      - "/mnt:/mnt:rw"
      - "/mnt/strm:/strm:rw"
      - "{{ plex.transcodes }}/5:/transcode"
      - "{{ plex.transcodes }}/6:/transcodes"
      - "/opt/jellyfin:/config:rw"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/mnt/unionfs/Media:/media"
      - "/opt/jellyfin/cache:/cache:rw"
    devices: "{{ '/dev/dri:/dev/dri' if (gpu.intel and dev_dri.stat.exists) | default(false) else omit }}"
    labels:
      "com.github.cloudbox.cloudbox_managed": "true"
    networks:
      - name: cloudbox
        aliases:
          - jellyfin
    purge_networks: yes
    restart_policy: always
    state: started
# we need this here because sometimes after a restore, docker will set this transcodes folder to root, dont ask why, but it does...
- name: "Wait 5 seconds"
  wait_for:
    timeout: 5

- name: "Ensure config folder has the correct permissions"
  file:
    path: "/opt/jellyfin"
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: 0775
    recurse: yes

- name: Settings Tasks
  include_tasks: "jellyfin_settings.yml"
  when: not (
        (jellyfin_system_xml.exists)
        or
        (continuous_integration)
    )
