---
skip_tags: true

skip_commits:
  files:
    - '*.md'
    - '*.yml.default'
  message: /\[minor\]/

image: ubuntu

matrix:
  fast_finish: true

# to disable automatic builds
build: off

environment:
  CLOUDBOX_PATH: "/home/appveyor/cloudbox"
  COMMUNITY_PATH: "/home/appveyor/projects/community"
  TAGS: >
    airsonic
    calibre-rdp
    calibre-web
    lazylibrarian
    monitorr
    logarr
    radarr1080
    sonarr1080
    sonarrv3
    mylar
    deluge
    mellow
    beets
    sonarrx
    bitwarden
    kitana
    qbittorrent
    radarrx
    embystats
    myjdownloader
    mediabutler
    jellyfin
    gazee
    goplaxt
    xteve
    bookstack
    funkwhale
    invoiceninja
    subsonic
    bazarrx
    wordpress

init:
  - sh: curl -s https://cloudbox.works/scripts/dep.sh | sudo -H sh &> /dev/null
  - sh: curl -s https://cloudbox.works/scripts/repo.sh | bash &> /dev/null

install:
  - sh: cd ${COMMUNITY_PATH}
  - sh: cp -n ansible.cfg.default ansible.cfg
  - sh: cp -n settings.yml.sample settings.yml
  - sh: sudo ansible-playbook community.yml --syntax-check
  - sh: |
      sudo ansible-playbook "${CLOUDBOX_PATH}/cloudbox.yml" --tags core \
        --skip-tags settings \
        --extra-vars '{"continuous_integration":true}' \
        &> /dev/null
  - sh: |
      for TAG in $TAGS
      do
          echo ""
          echo -----------------
          echo ""
          echo Running Tag: $TAG
          sudo ansible-playbook community.yml --tags $TAG
          docker stop $TAG &> /dev/null || true
          docker rm $TAG &> /dev/null || true
      done
  
