---
skip_tags: true

skip_commits:
  files:
    - '*.md'
    - '*.yml.default'
  message: /\[minor\]/

image: Ubuntu1804-minimal

matrix:
  fast_finish: true

# to disable automatic builds
build: off

environment:
  CLOUDBOX_BRANCH: "master"
  CLOUDBOX_PATH: "/home/appveyor/cloudbox"
  COMMUNITY_PATH: "/home/appveyor/projects/community"
  TAGS: >
    airdcpp
    airsonic
    alltube
    alternatrr
    alternatrrx
    amongus
    apprise
    archivebox
    asshama
    autoscan
    bazarrx
    beets
    bitwarden
    bookstack
    btrfsmaintenance
    calibre
    calibre-web
    changedetection
    comicstreamer
    couchpotato
    coder
    comixed
    conreq
    dashmachine
    deemix
    deemixrr
    deezloader-remix
    deluge
    delugevpn
    easycountdown
    embystat
    emby2
    epms
    filebot
    filezilla
    firefly
    flaresolverr
    funkwhale
    gazee
    glances
    goplaxt
    grafana
    handbrake
    healthchecks
    heimdall
    influxdb
    invoiceninja
    jdownloader2
    jellyfin
    jirafeau
    kitana
    komga
    lazylibrarian
    lidarrx
    logarr
    mediabutler
    medusa
    minecraft
    mkvtoolnix
    monitorr
    moviematch
    mylar
    mylar3
    navidrome
    nextcloud
    nowshowing
    nzbhydra
    ombix
    organizrv1
    ouroboros
    overseerr
    overseerrx
    paperless-ng
    petio
    phantombot
    plex2
    plex-auto-collections
    plex-meta-manager
    postgres
    prowlarr
    pyload
    qbittorrent
    qbittorrentvpn
    quassel
    radarrx
    redbot
    redis
    resilio-sync
    requestrrx
    rocketchat
    searx
    sickchill
    smokeping
    sonarrx
    speedtest
    sshwifty
    stash
    subsonic
    synclounge
    tdarr
    telegraf
    thelounge
    transmissionvpn
    transmissionx
    ubooquity
    unifi
    unmanic
    varken
    vnstat
    vscode
    watchtower
    wallabag
    wordpress
    xbackbone
    xteve
    znc

init:
  - sh: curl -s https://cloudbox.works/scripts/dep.sh | sudo -H sh &> /dev/null
  - sh: curl -s https://cloudbox.works/scripts/repo.sh | bash &> /dev/null

install:
  - sh: |
      echo "=========================="
      echo ""
      echo "Community Branch: $APPVEYOR_REPO_BRANCH"
      echo ""
      cd ${COMMUNITY_PATH}
      cp -n defaults/ansible.cfg.default ansible.cfg
      cp -n defaults/settings.yml.default settings.yml
      sudo ansible-playbook community.yml --syntax-check
      RC=$?; [ $RC -eq 0 ] || exit $RC;
  - sh: |
      echo ""
      echo "=========================="
      echo ""
      echo "Cloudbox Branch: $CLOUDBOX_BRANCH"
      echo ""
      cd ${CLOUDBOX_PATH}
      rm settings.yml accounts.yml adv_settings.yml
      git checkout $CLOUDBOX_BRANCH &> /dev/null
      curl -o ${CLOUDBOX_PATH}/daemon.json https://raw.githubusercontent.com/saltydk/AppveyorTest/main/daemon.json
      cp -f daemon.json ${CLOUDBOX_PATH}/roles/docker/templates/daemon.json.j2
      sudo ansible-playbook cloudbox.yml --syntax-check
      sudo ansible-playbook cloudbox.yml --tags core \
          --skip-tags sanity_check,settings \
          --skip-tags kernel,hetzner,shell,rclone,system,motd,nvidia,mounts,scripts \
          --extra-vars '{"continuous_integration":true}' \
          &> /dev/null
  - sh: |
      echo ""
      echo "=========================="
      echo ""
      echo "Community Roles:"
      echo ""
      cd ${COMMUNITY_PATH}
      for TAG in $TAGS
      do
          echo --------------------------
          echo ""
          echo Running Tag: $TAG
          sudo ansible-playbook community.yml --tags $TAG \
              --skip-tags sanity_check,settings \
              --extra-vars '{"continuous_integration":true}'
          RC=$?; [ $RC -eq 0 ] || exit $RC;
          CONTAINERS=$(comm -23 <(sudo docker ps -a --format '{{ .Names}}' | sort) <(echo "letsencrypt\nnginx-proxy") | xargs echo -n)
          sudo docker stop $CONTAINERS &> /dev/null || true
          sudo docker rm $CONTAINERS &> /dev/null || true
          sudo docker image prune -af &> /dev/null || true
          sudo docker volume prune -f &> /dev/null || true
          echo ""
      done
