---
- name: "Setting CloudFlare DNS Record"
  include_role:
    name: cloudflare
  vars:
    subdomain: guacamole
  when: cloudflare_enabled

- name: Stop and remove any existing container
  docker_container:
    name: guacamole
    state: absent

- name: Create guacamole directories
  file: "path={{ item }} state=directory mode=0775 owner={{ user }} group={{ user }} recurse=yes"
  with_items:
    - /opt/guacamole
    - /opt/guacamole/config

- name: Create and start container
  docker_container:
    name: guacamole
    image: oznu/guacamole:latest
    pull: yes
    env:
      VIRTUAL_HOST: "guacamole.{{ domain }}"
      VIRTUAL_PORT: 8080
      LETSENCRYPT_HOST: "guacamole.{{ domain }}"
      LETSENCRYPT_EMAIL: "{{ email }}"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/opt/guacamole/config:/config"
    labels:
      "com.github.cloudbox.cloudbox_managed": "true"
    networks:
      - name: cloudbox
        aliases:
          - guacamole
    restart_policy: always
    state: started

- name: "Wait for 30 seconds"
  wait_for:
    timeout: 30

- name: Reset guacamole directories
  file: "path={{ item }} state=directory mode=0775 owner={{ user }} group={{ user }} recurse=yes"
  with_items:
    - /opt/guacamole
