#########################################################################
# Title:            Community: Minecraft Server                         #
# Author(s):        atilling                                            #
# URL:              https://github.com/Cloudbox/Community               #
# Docker Image(s):  itzg/minecraft-server                               #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: "Setting CloudFlare DNS Record"
  include_role:
    name: cloudflare-dns
  vars:
    record: minecraft
  when: cloudflare_enabled

- name: Stop and remove any existing container
  docker_container:
    name: minecraft
    state: absent

- name: Create minecraft directories
  file: "path={{ item }} state=directory mode=0775 owner={{ user.name }} group={{ user.name }}"
  with_items:
    - /opt/minecraft

- name: Create and start container
  docker_container:
    name: minecraft
    image: itzg/minecraft-server
    pull: yes
    published_ports:
      - "25565:25565"
    env:
      TZ: "{{ tz }}"
      UID: "{{ uid }}"
      GID: "{{ gid }}"
      VIRTUAL_HOST: "minecraft.{{ user.domain }}"
      VIRTUAL_PORT: "25565"
      EULA: "TRUE"
      LETSENCRYPT_HOST: "minecraft.{{ user.domain }}"
      LETSENCRYPT_EMAIL: "{{ user.email }}"
    volumes:
      - "/opt/minecraft:/config"
      - "/mnt/local/data:/data"
    labels:
      "com.github.cloudbox.cloudbox_managed": "true"
    networks:
      - name: cloudbox
        aliases:
          - minecraft
    purge_networks: yes
    restart_policy: unless-stopped
    state: started
