#########################################################################
# Title:            Community: Beets                                    #
# Author(s):        fuller882                                           #
# URL:              https://github.com/Cloudbox/Community               #
# Docker Image(s):  linuxserver/beets                                   #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: "Setting CloudFlare DNS Record"
  include_role:
    name: cloudflare-dns
  vars:
    record: beets
  when: cloudflare_enabled

- name: Create htpasswd
  htpasswd:
    path: "/opt/nginx-proxy/htpasswd/{{ item }}.{{ user.domain }}"
    name: "{{ user.name }}"
    password: "{{ user.pass }}"
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: 0664
  with_items:
    - beets

- name: Stop and remove any existing container
  docker_container:
    name: beets
    state: absent

- name: Create beets directories
  file: "path={{ item }} state=directory mode=0775 owner={{ user.name }} group={{ user.name }}"
  with_items:
    - /opt/beets
    - /mnt/local/Media/Music
    - /mnt/local/downloads/music

- name: Create and start container
  docker_container:
    name: beets
    image: linuxserver/beets
    pull: yes
    env:
      TZ: "{{ tz }}"
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
      VIRTUAL_HOST: "beets.{{ user.domain }}"
      VIRTUAL_PORT: "8337"
      LETSENCRYPT_HOST: "beets.{{ user.domain }}"
      LETSENCRYPT_EMAIL: "{{ user.email }}"
    volumes:
      - "/opt/beets:/config"
      - "/mnt/unionfs/Media/Music:/music"
      - "/mnt/local/downloads/music:/downloads"
    labels:
      "com.github.cloudbox.cloudbox_managed": "true"
    networks:
      - name: cloudbox
        aliases:
          - beets
    purge_networks: yes
    restart_policy: unless-stopped
    state: started

- name: Add cron schedule for aurtomatic importing
  cron:
    name: "Beets Import"
    user: "{{ user.name }}"
    special_time: hourly
    job: "docker exec -u abc beets /bin/bash -c 'beet import -q /downloads'"
    state: present

- name: Wait for config.yaml to be created
  wait_for:
    path: "/opt/beets/config.yaml"
    state: present

- name: Stop container to customize config.yaml
  docker_container:
    name: beets
    state: stopped

- name: Set filename length
  lineinfile:
    path: "/opt/beets/config.yaml"
    line: "max_filename_length: 255"
    insertafter: per_disc*
    state: present

- name: Start container to apply changes
  docker_container:
    name: beets
    state: started
