#########################################################################
# Title:            Community: Airsonic                                 #
# Author(s):        Superduper09                                        #
# URL:              https://github.com/Cloudbox/Community               #
# Docker Image(s):  linuxserver/airsonic                                #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: "Setting CloudFlare DNS Record"
  include_role:
    name: cloudflare-dns
  vars:
    record: airsonic
  when: cloudflare_enabled

- name: Stop and remove any existing container
  docker_container:
    name: airsonic
    state: absent

- name: Create airsonic directories
  file: "path={{ item }} state=directory mode=0775 owner={{ user.name }} group={{ user.name }}"
  with_items:
    - /opt/airsonic

- name: Create and start container
  docker_container:
    name: airsonic
    image: linuxserver/airsonic
    pull: yes
    env:
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
      TZ: "{{ tz }}"
      VIRTUAL_HOST: "airsonic.{{ user.domain }}"
      VIRTUAL_PORT: "4040"
      LETSENCRYPT_HOST: "airsonic.{{ user.domain }}"
      LETSENCRYPT_EMAIL: "{{ user.email }}"
    volumes:
      - "/opt/airsonic:/config"
      - "/mnt:/mnt"
    labels:
      "com.github.cloudbox.cloudbox_managed": "true"
    networks:
      - name: cloudbox
        aliases:
          - airsonic
    purge_networks: yes
    restart_policy: unless-stopped
    state: started
