#########################################################################
# Title:            Community: MariaDB Role                             #
# Author(s):        l3uddz, desimaniac                                  #
# URL:              https://github.com/Cloudbox/Community               #
# Docker Image(s):  linuxserver/mariadb                                 #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: Stop and remove any existing containers
  docker_container: "name={{ item }} state=absent"
  with_items:
    - mariadb

- name: Create required directories
  file: "path={{ item }} state=directory mode=0775 owner={{ user.name }} group={{ user.name }}"
  with_items:
    - /opt/mariadb

- name: Create and start mariadb container
  docker_container:
    name: mariadb
    image: "linuxserver/mariadb"
    pull: yes
    env:
      TZ: "{{ tz }}"
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
      MYSQL_ROOT_PASSWORD: "password321"
    volumes:
      - "/opt/mariadb:/config"
    labels:
      "com.github.cloudbox.cloudbox_managed": "true"
    networks:
      - name: cloudbox
        aliases:
          - mariadb
    purge_networks: yes
    restart_policy: unless-stopped
    state: started
