#########################################################################
# Title:            Community: Gazee                                    #
# Author(s):        Aki                                                 #
# URL:              https://github.com/Cloudbox/Community               #
# Docker Image(s):  linuxserver/gazee                                   #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: "Setting CloudFlare DNS Record"
  include_role:
    name: cloudflare-dns
  vars:
    record: gazee
  when: cloudflare_enabled

- name: Stop and remove any existing container
  docker_container:
    name: gazee
    state: absent

- name: Create gazee directories
  file: "path={{ item }} state=directory mode=0775 owner={{ user.name }} group={{ user.name }}"
  with_items:
    - /opt/gazee
    - /mnt/local/Media/Comics

- name: Create and start container
  docker_container:
    name: gazee
    image: linuxserver/gazee
    pull: yes
    env:
      TZ: "{{ tz }}"
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
      VIRTUAL_HOST: "gazee.{{ user.domain }}"
      VIRTUAL_PORT: "4242"
      LETSENCRYPT_HOST: "gazee.{{ user.domain }}"
      LETSENCRYPT_EMAIL: "{{ user.email }}"
    volumes:
      - "/opt/gazee:/config"
      - "/mnt/local/downloads/nzbs:/downloads/nzbs"
      - "/mnt/unionfs/Media/Comics:/comics"
    labels:
      "com.github.cloudbox.cloudbox_managed": "true"
    networks:
      - name: cloudbox
        aliases:
          - gazee
    purge_networks: yes
    restart_policy: unless-stopped
    state: started
