#########################################################################
# Title:            Community: SonarrX                                  #
# Author(s):        Kalroth, Migz93                                     #
# URL:              https://github.com/Cloudbox/Community               #
# Docker Image(s):  hotio/sonarr, hotio/sonarr3                         #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: "Gather list of sonarrx Docker containers"
  shell: "docker ps -a --format '{{ '{{' }} .Names{{ '}}' }}' --filter label=com.github.cloudbox.community=sonarrx | xargs echo -n"
  register: cloudbox_community_sonarrx
  ignore_errors: yes

- name: "Stop all sonarrx Docker containers"
  shell: "docker stop {{ cloudbox_community_sonarrx.stdout }}"
  ignore_errors: yes
  when: (cloudbox_community_sonarrx.stdout | trim | length > 0)

- name: "Remove all sonarrx Docker containers"
  shell: "docker rm {{ cloudbox_community_sonarrx.stdout }}"
  ignore_errors: yes
  when: (cloudbox_community_sonarrx.stdout | trim | length > 0)

- name: Stop and remove sonarr4k Docker container if it exists
  docker_container:
    name: sonarr4k
    state: absent

- name: "Execute SonarrX roles"
  include_tasks: template.yml
  vars:
    rolename: "{{ role }}"
  with_items: "{{ sonarrx.roles }}"
  loop_control:
    loop_var: role
