#########################################################################
# Title:            Community: Speedtest Server                         #
# Author(s):        Satz                                                #
# URL:              https://github.com/Cloudbox/Community               #
# Docker Image(s):  satzisa/html5-speedtest                             #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: "Set DNS Record on CloudFlare"
  include_role:
    name: cloudflare-dns
  vars:
    record: speedtest
  when: cloudflare_enabled

- name: Stop and remove any existing container
  docker_container:
    name: speedtest
    state: absent

- name: Create speedtest directories
  file: "path={{ item }} state=directory mode=0775 owner={{ user.name }} group={{ user.name }} recurse=yes"
  with_items:
    - /opt/speedtest/

- name: Create and start container
  docker_container:
    name: speedtest
    image: "satzisa/html5-speedtest"
    pull: yes
    env:
      TZ: "{{ tz }}"
      UID: "{{ uid }}"
      GID: "{{ gid }}"
      VIRTUAL_HOST: "speedtest.{{ user.domain }}"
      VIRTUAL_PORT: "80"
      LETSENCRYPT_HOST: "speedtest.{{ user.domain }}"
      LETSENCRYPT_EMAIL: "{{ user.email }}"
    volumes:
      - "/opt/speedtest:/var/www/html:rw"
    networks:
      - name: cloudbox
        aliases:
          - speedtest
    purge_networks: yes
    restart_policy: unless-stopped
    state: started
