# If you have any doubts about what a setting does,
# check https://docs.funkwhale.audio/configuration.html#configuration-reference

# The tag of the image we should use
# (it will be interpolated in docker-compose file)
# You can comment or ignore this if you're not using docker
FUNKWHALE_VERSION=0.17

# General configuration
# ---------------------


# Replace this by the definitive, public domain you will use for
# your instance
#FUNKWHALE_HOSTNAME=funkwhale.{{ domain }}
#FUNKWHALE_PROTOCOL=https

# Configure email sending using this variale
# By default, funkwhale will output emails sent to stdout
# here are a few examples for this setting
# EMAIL_CONFIG=consolemail://         # output emails to console (the default)
# EMAIL_CONFIG=dummymail://          # disable email sending completely
# On a production instance, you'll usually want to use an external SMTP server:
# EMAIL_CONFIG=smtp://user@:password@youremail.host:25
# EMAIL_CONFIG=smtp+ssl://user@:password@youremail.host:465
# EMAIL_CONFIG=smtp+tls://user@:password@youremail.host:587

# The email address to use to send system emails.
# DEFAULT_FROM_EMAIL=noreply@yourdomain

# Nginx related configuration
NGINX_MAX_BODY_SIZE=1000M
