#########################################################################
# Title:            Community: Plex2 | Default Variables                #
# Author(s):        desimaniac                                          #
# URL:              https://github.com/Cloudbox/Community               #
# Docker Image(s):  cloudb0x/plex                                       #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
################################
# Subdomain
################################

plex2_subdomain: "plex2"

################################
# Folders
################################

plex2_folders:
  - "/opt/plex2"
  - "/opt/plex2/Library"
  - "/opt/plex2/Library/Application Support"
  - "/opt/plex2/Library/Application Support/Plex Media Server"
  - "/opt/plex2/Library/Application Support/Plex Media Server/Plug-ins"
  - "/opt/plex2/Library/Logs"
  - "/opt/plex2/Library/Logs/Plex Media Server"
  - "{{ plex.transcodes }}/plex2"

################################
# Docker Image
################################

plex2_docker_image: "plexinc/pms-docker:{{ plex.tag }}"

################################
# Docker Volumes
################################

plex2_docker_volumes:
  - "/opt/plex2:/config"
  - "/opt/scripts:/scripts"
  - "/mnt/unionfs/Media:/data"
  - "/mnt:/mnt"
  - "/tmp:/tmp"
  - "/dev/shm:/dev/shm"
  - "{{ plex.transcodes }}/plex2:/transcode"

################################
# Docker Hosts
################################

localhost_ip: "127.0.0.1"

lazyman_ip: "{{ ( lookup('dig', 'nhl.freegamez.ga', '@8.8.8.8', 'qtype=A') | ipv4 ) | default(false,true) }}"

plex_default_hosts:
  "metric.plex.tv": "{{ localhost_ip }}"
  "metrics.plex.tv": "{{ localhost_ip }}"
  "analytics.plex.tv": "{{ localhost_ip }}"

plex_custom_hosts:
  "mf.svc.nhl.com": "{{ lazyman_ip | ternary(lazyman_ip, omit) }}"
  "mlb-ws-mf.media.mlb.com": "{{ lazyman_ip | ternary(lazyman_ip, omit) }}"
  "playback.svcs.mlb.com": "{{ lazyman_ip | ternary(lazyman_ip, omit) }}"

plex2_docker_hosts: "{{ plex_default_hosts | combine(plex_custom_hosts) }}"
