- name: "Setting CloudFlare DNS Record"
  include_role:
    name: cloudflare
  vars:
    subdomain: mylar

- name: Stop and remove any existing container
  docker_container:
    name: mylar
    state: absent

- name: Create mylar directories
  file: "path={{item}} state=directory mode=0775 owner={{user}} group={{user}}"
  with_items:
    - /opt/mylar

- name: Create and start container
  docker_container:
    name: mylar
    image: linuxserver/mylar
    pull: yes
    published_ports:
      - "127.0.0.1:8090:8090"
    env:
      PUID: "{{uid}}"
      PGID: "{{gid}}"
      VIRTUAL_HOST: "mylar.{{domain}}"
      VIRTUAL_PORT: 8090
      LETSENCRYPT_HOST: "mylar.{{domain}}"
      LETSENCRYPT_EMAIL: "{{email}}"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/opt/mylarr:/config"
      - "/mnt/local/downloads/nzbs:/downloads/nzbs"
      - "/mnt/unionfs/Media/Comics:/comics"
    networks:
      - name: cloudbox
        aliases:
          - mylar
    purge_networks: yes
    restart_policy: always
    state: started
