# /etc/systemd/system/mnt-unionfs.mount

[Unit]
Description=mergerfs mount

Requires=rclone.service
After=rclone.service

AssertPathIsMountPoint=/mnt/rclone
AssertPathExists=/mnt/rclone/mounted.bin

[Mount]
What=/mnt/local=RW:/mnt/rclone=NC
Where=/mnt/unionfs
Type=fuse.mergerfs
Options=defaults,category.create=ff,minfreespace=0,allow_other,dropcacheonclose=true,security_capability=false,xattr=nosys,statfs_ignore=ro,use_ino,hard_remove,auto_cache,umask=0002,noatime
[Install]
WantedBy=default.target
